@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello, Welcome to Wefqi's Page!</h1>
    <p>This is my personal page where I will continously update with new items in each catagory as I keep exploring them. I will also add new hobbies/ activities in the future.</p>
</div>
