<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/637339df-a0a6-42b7-9351-ddffb1e16f5a/resourcegroups/CPSC-23000-week14webapp/providers/Microsoft.Web/sites/WefqiHobbiesWebApp20220424155300-CPSC-23000-week14webapp</ResourceId>
    <ResourceGroup>CPSC-23000-week14webapp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://wefqihobbieswebapp20220424155300-cpsc-23000-week14webapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>a5fe2105-483d-435d-90d1-e48ea10e7d53</ProjectGuid>
    <MSDeployServiceURL>wefqihobbieswebapp20220424155300-cpsc-23000-week14webapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WefqiHobbiesWebApp20220424155300-CPSC-23000-week14webapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$WefqiHobbiesWebApp20220424155300-CPSC-23000-week14webapp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>